.img {
  height: 200px;
  width: 200px;
}

@media (max-width: 1199px) {
  .img {
    height: 200px;
    width: 200px;
  }
}
@media (max-width: 992px) {
  .img {
    height: 200px;
    width: 200px;
  }
}
@media (max-width: 500px) {
  .img {
    height: 200px;
    width: 200px;
  }
}
.isStuck .img{
  height: 150px;
  width: 150px;
}

.isStuck .broker {
  font-size: 30px;
  top:50px;
  left:40px;
}

.isStuck .aboutus {
  font-size: 30px;
  top:50px;
  left: 10px;
}
.isStuck .home img {
  height: 100px;
  width: 100px;
}

.sf-menu .home img {
  height: 120px;
  width: 120px;

}




.sf-menu .aboutus {
    font-size: 35px;
    top:50px;

  }

.sf-menu .broker {
    font-size: 35px;
    top:50px;

  }

.content .images { padding:40px 0 30px; text-align:center; margin:0 -25px;}
.images img { display:inline-block; vertical-align:top; margin:10px 25px;}

body  .footer {
  background: #231f20;
  margin: 0;
}
body.footer .content {

  padding: 45px 0 35px; max-width:880px;
  text-align: left;
}
.footer a{
	color:#b2afb0; font-size:13px;
}
body  .footer .content p {
  font: 11px/20px "arial";
  color: #b2afb0;
   text-align: center;  padding-bottom:10px;
}
.footer .content {
padding-top: 30px;
padding-bottom: 30px;


}
