.img {
  height: 200px;
  width: 150px;
}

@media (min-width: 1280px) {
  .img {
    height: 200px;
    width: 150px;
  }
}

@media (min-width: 1920px) {
  .img {
    height: 200px;
    width: 150px;
  }
  .container {
      width: 1600px;
    }

    ul.sf-menu {
      padding-top:95px;
      padding-left: 150px;
    }

.nav >li > a {
  padding: 10px 27px;
}

.sf-menu .home img {
    height: 70px;
    width: 70px;
}

a.home{
top:16px;
}

.sf-menu .aboutus {
    font-size: 30px;
    top:50px;
  }

.sf-menu .broker {
    font-size: 30px;
    top:50px;
  }

}

@media (max-width: 992px) {
  .img {
    height: 200px;
    width: 150px;
  }
}
@media (max-width: 500px) {
  .img {
    height: 200px;
    width: 200px;
  }
}

.isStuck .img{
  height: 150px;
  width: 125px;
}

.isStuck .broker {
  font-size: 30px;
  top:50px;
  left:40px;
}


.isStuck .aboutus {
  font-size: 30px;
  top:50px;
  left: 10px;
}
.isStuck .home img {
  height: 100px;
  width: 100px;
}

/*
 Have Added this in the Media @ 1980

.sf-menu .home img {
    height: 70px;
    width: 70px;

}


.sf-menu .aboutus {
    font-size: 35px;
    top:50px;
  }

.sf-menu .broker {
    font-size: 35px;
    top:50px;
  }
 */
.content .images { padding:40px 0 30px; text-align:center; margin:0 -25px;}
.images img { display:inline-block; vertical-align:top; margin:10px 25px;}

body  .footer {
  background: #231f20;
  margin: 0;
}
body.footer .content {

  padding: 45px 0 35px; max-width:880px;
  text-align: left;
}
.footer a{
	color:#b2afb0; font-size:15px;
}
body  .footer .content p {
  font: 13px/20px "calibri";
  color: #b2afb0;
   text-align: center;  padding-bottom:10px;
}
.footer .content {
padding-top: 30px;
padding-bottom: 30px;
}

.form1 {
background: rgba(0,0,0,0.3);
height: 400px;
width: 300px;
}

.wrap .wrap1 {
  position:relative;
  top:-500px;
  left:80px;
}

.wrap .form1 {
  padding: 30px;
}


.wrap .form1 input{

  width: 230px;
  height: 40px;
  font-size: 13px;
  line-height: 13px;
  text-indent: 12px;
  margin: 8px;
}

.wrap .form1 button{
 margin: 8px;
 border-radius: 12px;
 font-size: 16px;
 padding: 15px 32px;
}
